///////////////////////////////////////////////////
//??				  					       ??//
//??			  *- SCAFFOLD -*		       ??//
//??			  	 CATEGORY			   	   ??//
//??				  					   	   ??//
///////////////////////////////////////////////////

#category {

	img {
		width:100%;
		height:auto;
		margin-bottom: 30px;
	}

	p.post_tags {
		text-align: left;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	h2 {
		margin-bottom: 0px;
		padding-bottom: 27px;
	}
}