///////////////////////////////////////////////////
//??				  					       ??//
//??			  *- SCAFFOLD -*		       ??//
//??			 	  SINGLE			       ??//
//??				  					   	   ??//
///////////////////////////////////////////////////

#post {
	//
	.bg {
		height: 250px;
	}

	.content{
		h1 {
			//
		}

		h2	{
			//
		}
	}
}

.pagination 
{
	.previous {
		text-decoration: underline;
	}
	.next {
		text-decoration: underline;
	}
}