///////////////////////////////////////////////////
//??				  					       ??//
//??			    PAGINATION			   	   ??//
//??				  					   	   ??//
///////////////////////////////////////////////////

.previous a, .next a {
	text-decoration: none;
	display:block;
	float:left;
	margin-right: 10px;
	width:200px;
	max-width: 300px;
	background-color: $color-one;
	color:$white;
	padding: 20px 20px 20px 20px;
	text-decoration: none;
	font-family: $font-family-two;
	font-size: $tertiary-size;
	text-transform: none;
	font-weight: $light;
	@include border-radius(0px);

	&:hover {
	    opacity: 0.8;
		color:$white;
	}
}

.previous a {
	text-align: right;
	background-image: url(images/arrow_alt.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.next a {
	text-align: left;
	background-image: url(images/arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
}
