///////////////////////////////////////////////////
//??				  					       ??//
//??			 * TYPOGRAPHY *			   	   ??//
//??				  					   	   ??//
///////////////////////////////////////////////////



// ******************** //
// 	 Defaults Heading   //  

h1, h2, h3, h4, h5, h6 { 
	font-family: $heading-font-family; 
	font-weight: $heading-font-weight;
	color:$heading-color;
	padding-bottom: 20px;
	text-transform: uppercase;
	text-align:center;
 	letter-spacing: $heading-letter-spacing;
 	margin-bottom: $heading-margin-bottom;
}

// ******************** //
//   	Headings		//

h1 { 
	font-size: 160%;
}


h2 { 
	font-size: 130%;
}

h3 { 
	font-size: 120%;
	text-transform: lowercase;
	font-weight: $regular;
}

h4 { 
	font-size: 150%;
	text-transform: lowercase; 
	text-align: left; 
}

h5 { 
	font-size: 100%;
}

h1.alt { color:$heading-color-alt; line-height: 1.3 }
h2.alt { color:$heading-color-alt; }
h3.alt { color:$heading-color-alt; }
h4.alt { color:$heading-color-alt; }
h5.alt { color:$heading-color-alt; }

// ******************** //
// 		Paragraph 		// 

p {
	@include font-size($base-font-size);
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	color: $font-color;
	text-align: left;
	letter-spacing: $base-font-letter-spacing;
	margin-bottom: $base-font-margin-bottom;
}

p.alt {
	color: $color-five;
}

p.quote {
	font-family: $quote-font-family;
	font-weight: $quote-font-weight;
	font-size: $quote-font-size;
	line-height: $quote-line-height;
	color: $font-color-alt;
	text-align: center;
}

p.post_tags {
	text-align:center;
	line-height:1.6;
	font-weight: $regular;
	font-size: $primary-size;
	margin-bottom: 20px;
}

// ******************** //
// 		Font span       //

span.upper {
	text-transform: uppercase;
}

span.resize {
	font-size: 160%;
}

span.space {
	margin-right: 20px;
}

// ******************** //
// 		Formatting		//

b {
	font-weight: $bold
}

strong	{
	font-weight: $regular
}

i {
	font-style: italic;
}

p {
	br {
		margin-bottom: 0px;
	}
}

p {
	strong {
		font-weight: $bold
	}
	b {
		font-weight: $bold	
	}
	i {
		font-style: italic;
	}
}

// ******************** //
// 		  Lists 		// 

ul {
	display: block;
	list-style-type: disc;
	margin-before: 1em;
	margin-after: 1em;
	margin-start: 0;
	margin-end: 0;
	padding-start: 40px;
	margin-left: 20px;
	li {
		@include font-size($base-font-size);
		font-family: $base-font-family;
		font-weight: $base-font-weight;
		line-height: $base-line-height;
		color: $font-color;
		text-align: left;
		letter-spacing: $base-font-letter-spacing;
	}
}

