// Border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


// Rem sizing with Pixel fallback for older browsers 
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@function inputWidth($width, $padding) {
  $input-width: $width - ($padding * 2);
  @return $input-width;
}

@mixin input_scaling($width, $side_padding) {
  width: inputWidth($width, $side_padding);
  padding-left: $side_padding;
  padding-right: $side_padding;
}

@mixin alignment($condition){
  @if $condition == center {
    margin: auto;
  } @else if $condition == left {
    float:left;
  } @else if $condition == right {
    float:right;
  } @else {
    // return nothing
  }
}

// Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// Cross Browser opacity: 
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// hide text
@mixin hide-text{
    overflow:hidden;
    text-indent:-9000px;
    display:block;
}

// Hide stuff properly
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.visually-hidden {
  @extend %visuallyhidden;
}


// Most effective Clear fix 
// even works in IE6!
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin un-clearfix() {
    &:before,
    &:after {
        content: "";
        display: block;
    }
    &:after {
        clear: none;
    }
}

// Vertical Align
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin reset-vertical-align {
  top: 0%;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

// Centering stuff Stuff
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin center_absolute {
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}
